body, html{
	margin: 0;
	padding: 0;
	text-align:center;
	background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	font-family: sans-serif;
	height: 100%;
	position: fixed;
	width: 100%
}
.Contact-title
{
 margin-top: 100px;
 color: #fff;
 text-transform: uppercase;
 transition: all 4s ease-in-out;
}
.Contact-title h1
{
font-size: 32px;
line-height: 10px;
}
.Contact-title h2{
	font-size: 16px;
}
form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form-control
{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
form .submit{
	background: skyblue;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}
form .submit:hover{
	background-color: #34b4eb;
	cursor: pointer;
}